.banner-title {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.glowing-shadow {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}
